.city-list
	margin 0
	padding 0

	list-style-type none

	background #fff

.city-list__li
	border-bottom $border

	height 45px

	line-height 45px

	font-size 15px

.city-list__link
	display block

	padding 0 22px

	color #000
	text-decoration none