.weather-now
	margin-top 10px
	padding-top 15px

.weather-now__top
.weather-now__bottom
	clearfix()

.weather-now__top
	margin 0 13px

.weather-now__temp
	margin-right 30px

	font-size 48px

.weather-now__temp
.weather-now__info
.weather-now__left
.weather-now__right
	float left