/* Page visual styles, these aren't important */
html {
    padding: 20px;
}

body {
    font-family: Georgia sans-serif;
    width: 100%;
}

li {
    margin-bottom: 1em;
}

.tools {
    position: fixed;
    top: 0;
    right: 0;

    margin: 10px;
    padding: 10px;
    border: solid 1px black;

    background: white;
}

.tools a.active {
    color: red;
}

/* modal box style, can be anything you want */
html.original .modal {
    background: #eee;
    width: 600px;
    margin: 20px auto;

    border: 3px solid #666;
    padding: 20px;
}

.modal .close {
    float: right;
    text-decoration: none;
    font-size: 40px;
    cursor: pointer;
}

/**
 *  absolute method
 */

html.abs .modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
    padding: 20px;
    border: 3px solid #666;

    width: 500px;
    height: 500px;
    overflow: auto;

    background: #eee;
}

/**
 *  inline-block method
 */

 html.inline-block .themodal-overlay {
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

html.inline-block .themodal-overlay::before {
    content: "";
    display: inline-block;

    width: 0px;
    height: 100%;

    vertical-align: middle;
    font-size: 0px;
}

html.inline-block .modal {
    display: inline-block;

    padding: 20px;
    border: 3px solid #666;

    width: 500px;
    height: 500px;
    overflow: auto;

    background: #eee;
    vertical-align: middle;
    white-space: normal;
    text-align: left;
}

/**
 *  table method
 */

html.table .themodal-overlay {
    display: table;

    width: 100%;
    height: 100%;
}

html.table .modal {
    display: table-cell;

    vertical-align: middle;
    text-align: center;
}

html.table .modal-wrapper {
    display: inline-block;

    padding: 20px;
    border: 3px solid #666;

    width: 500px;
    height: 500px;
    overflow: auto;

    background: #eee;
    vertical-align: middle;
    text-align: left;
}