.forecast
	font-size 15px

.forecast-item
	padding 5px 0
	clearfix()

.forecast__left
.forecast__right
	float left

.forecast__left
	margin-left 13px

.forecast__right
	margin-right 13px

.forecast__left_now
	margin-right 18px

.forecast__weather
	font-size 15px

.forecast__weather_now
	margin-top 15px

.forecast__title
	width 78px

.forecast__title
.forecast__temp
	margin-top 10px

.forecast__top
	clearfix()

.forecast__icon
.forecast__temp
	float left

.forecast__icon
	font-size 0

.forecast__temp-value
	display inline-block

	width: 35px

	text-align right

.forecast
	margin-top 10px

.forecast_now
	margin-top 0